html {
    margin: 0vh 0vw;
}

body {
    margin: 0vh 20vw;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    float: left;
}

nav a {
    color: #180d2f;
    background: #ecab11;
    height: 5vh;
    line-height: 5vh;
    padding: 0vh 2vw;
    display: inline-block;
    font-family: "Liberation Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    margin: 10% 0%;
}

main h2 {
    font-family: "Liberation Sans", sans-serif;
    text-align: center;
    font-size: 5vh;
}

main p {
    font-family: "Liberation Sans", sans-serif;
    text-align: justify-all;
    font-size: 3vh;
}